.filterBox {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 4rem;
}

.filterBox input,
.filterBox select {
  border-radius: 5px;
  border: 1px solid #111;
  padding: 0.3rem 1rem;
  font-size: clamp(1.2rem, 3vw, 2rem);
  background: rgb(226, 226, 178);
}

.filterBox input::selection {
  background: rgb(218, 165, 31);
}

.filterBox select {
  cursor: pointer;
}

@media (max-width: 390px) {
  .filterBox {
    gap: 1rem;
    height: 3rem;
  }
  .filterBox input {
    width: 140px;
  }
}
